.logo {
  width: 50%;
  text-align: right;
  float: left;
  font-family: CraftyFont, sans-serif;
}
.cart {
  width: 50%;
  text-align: right;
  float: right;
  mat-icon, span {
    cursor: pointer;
  }
}
.products-list {
  margin: 0 auto;
  width: 60%;
  .search {
    margin-top: 30px;
  }
  mat-card {
    background: white;
    width: 170px;
    float: left;
    margin: 10px;
    text-align: center;
    .product-title {
      height: 2em; // that's one line, 2em for 2 lines, etc...
      line-height: 1em;
    }
  }
}


