<mat-toolbar color="primary">
  <h1 class="logo">Crafty</h1>
</mat-toolbar>
<div class="products-list"  *ngIf="products">
  <h2>Your order summary</h2>
  <div class="order-summary">
    <mat-card class="product-content" *ngFor="let product of products">
      <mat-card-content>
        <div class="product-images">
          <img mat-card-sm-image src="/assets/images/Silver Earrings.jpg" alt="Product image">
        </div>
        <div class="product-info">
          <span>{{product.name}}</span>
          <p>{{product.description}}</p>
          <div class="product-actions">
            <div class="mat-card-button">
              <button mat-mini-fab color="accent" aria-label="Delete product" (click)="deleteProductFromCart(product)">
                <mat-icon>delete</mat-icon>
              </button>
            </div></div>
        </div>
        <div class="product-price">
          <span>{{product.price}} {{product.currency}}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="total-price">
    <h3>Total <span>{{total}} {{currency}}</span></h3>
    <div class="checkout">
      <button mat-flat-button color="accent">Checkout</button>
    </div>
  </mat-card>
</div>

<div class="empty-cart" *ngIf="!products">
  <h1>Your cart is empty</h1>
  <h1>Go back to the shop and add some products</h1>
  <div><button mat-flat-button color="accent" (click)="goToShop()">Go to shop</button></div>
</div>
