<app-dashboard>
  <div class="search">
    <mat-form-field class="width-50" appearance="outline">
      <mat-label>Search for a store</mat-label>
      <input matInput type="search" (keyup)="search($event)">
    </mat-form-field>
  </div>
  <div class="stores-list-container">
    <mat-card class="margin-20" *ngFor="let store of stores">
      <mat-card-header>
        <mat-card-title>
          {{store.name}}
        </mat-card-title>
        <div class="header-action">
          <div class="mat-card-button">
            <button mat-mini-fab color="accent" aria-label="Add product" (click)="goToProductList(store.id)">
              <mat-icon>shop</mat-icon>
            </button>
          </div>
          <div class="mat-card-button">
            <button mat-mini-fab color="accent" aria-label="Add product" (click)="editStore(store)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="mat-card-button">
            <button mat-mini-fab color="accent" aria-label="Add product" (click)="deleteStore(store)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="margin-15">
        <h3><b>Address: </b> {{store.address}}</h3>
        <h3><b>IBAN: </b> {{store.iban}}</h3>
        <h3><b>Bank: </b> {{store.bank}}</h3>
        <h3><b>CUI: </b> {{store.cui}}</h3>
        <h3><b>Register number: </b> {{store.reg_number}}</h3>
        <h3><b>Phone Number: </b> {{store.phone_number}}</h3>
        <h3><b>E-mail: </b> {{store.e_mail}}</h3>
      </mat-card-content>
    </mat-card>
  </div>
</app-dashboard>

<div class="add-item-container">
  <button mat-fab color="accent" aria-label="Add store" (click)="addStore()">
    <mat-icon>add</mat-icon>
  </button>
</div>
