.modal-action-buttons {
  display: flex;
  justify-content: space-between;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 48%;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
