/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'CraftyFont';
  src: url('assets/fonts/JoannaCombsDemoRegular.ttf')  format('truetype') /* Safari, Android, iOS */
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 48%;
}

.width-60 {
  width: 60%;
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

.margin-20 {
  margin: 20px auto;
  width: 50%;
}

.margin-15 {
  margin: 15px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  mat-form-field {
    width: 100%;
  }
}

.add-item-container {
  position: fixed;
  right: calc(100% - (100% - 40px));
  bottom: calc(100% - (100% - 40px));;
  z-index: 2;
}
